<section>
<%= form_for @product do |f| %>
    <div>
        <%= f.label :name, 'Product Name:' %><br/>
        <%= f.text_field :name %>
    </div>
    
    <div>
        <%= f.label :description, 'Product Description:' %><br/>
        <%= f.text_area :description %>
    </div>
    
    <div>
        <%= f.label :price, 'Product Price:' %><br/>
        <%= f.text_field :price %>
    </div>
    
    <div>
        <%= f.label :stock_qty, 'Product Stock Quantity:' %><br/>
        <%= f.text_field :stock_qty %>
    </div>
    
    <div>
        <%= f.label :image, 'Got a picture?' %><br/>
        <%= f.text_field :image %>
    </div>
    
    <%= f.submit "Submit New Product" %>
<% end %>
</section>