<%= render 'shared/productaside' %>

<div class="oneproduct">
    <h2><%= @product.name %></h2>
    <p>
        <% if @product.images.present? %>
            <%= image_tag @product.images.xlarge.url %>
        <% end %>
        <br/><br/>
        <strong>Price: </strong>$<%= @product.price %>
        <br/>
        <strong>Stock Quantity: </strong><%= @product.stock_qty %>
        <br/>
        <strong>Product Details: </strong><%= @product.description %>
    </p>
    <p>
    <% if @product.stock_qty != 0 %>
        <button id="instock">Add to cart</button>
    <% else %>
        <button id="outtastock" onclick="alert('Sorry, this product currently out of stock')">sss</button>
    <% end %>
    </p>
</div>