<div>
  <section id="logo">
    <%= link_to image_tag("logo.png"), home_path %>
  </section>
  
  <section id="log">
    <ul>
      <li><%= link_to "Login", admin_root_path %></li>
      <li><%= link_to "Cart", cart_path %></li>
    </ul>
  </section>
    
  <section id="google">
    <% form_tag :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </section>
  
  <section>
    <nav class="navtop">
      <ul>
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Products", products_path %></li>         
        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
      </ul>
    </nav>
  </section>

</div>