<%= render 'shared/productaside' %>

<% if @products.count == 0 %>
    <p id="empty">Sorry, this section is currently empty.</p>
<% elsif @products.count > 0 %>
<section id='showproduct'>
    <%= paginate @products %>
    
    <% @products.each do |product| %>
        <div><%= product.name %>
        <% if product.images.present? %>
            <p><%= image_tag product.images.medium.url %></p>
        <% end %>
        </div>
    <% end %>
    
    
    <%= paginate @products %>
</section>
<% end %>