<!DOCTYPE html>
<html>
<head>
  <title>K K Custome Leather</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container">
<div> 
  <section id="logo">
    <%= link_to image_tag("logo.png"), home_path %>
  </section>
  
  <section id="log">
    <ul>
      <li><%= link_to "Login", admin_root_path %></li>
      <li><%= link_to "Cart", cart_path %></li>
    </ul>
  </section>
    
  <section id="google">
    <input type="text" id="search" />
    <input type="submit" value="Search"/>
  </section>
  
  <section>
    <nav class="navtop">
      <ul>
        <li><%= link_to "HOME", home_path %></li>
        <li><%= link_to "PRODUCTS", products_path %></li>
        <li><%= link_to "ABOUT US", about_path %></li>
        <li><%= link_to "CONTACT US", contact_path %></li>
      </ul>
    </nav>
  </section>
  
</div>

<%= yield %>

<footer>
  <nav class="navbottom">
    <ul>
      <li><%= link_to "HOME", home_path %></li>
      <li><%= link_to "PRODUCTS", products_path %></li>
      <li><%= link_to "ABOUT US", about_path %></li>
      <li><%= link_to "CONTACT US", contact_path %></li>
    </ul>
  </nav>
  <p>Copyright &#169; 2015 K K Custom Leather . All Rights Reserved.</P>
</footer>
</section>
</body>
</html>
